.slide-container {
    padding: 0 10px; /* Pour éviter les décalages */
  }
  
  .slick-slide img {
    display: block;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .slide-container {
      padding: 0 15px; /* Ajuste le padding pour les écrans moyens et plus */
    }
  }
  
  @media (min-width: 1024px) {
    .slide-container {
      padding: 0 20px; /* Ajuste le padding pour les grands écrans */
    }
  }
  